<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Text Utils-Results </title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://codewithharry.com/static/photo.png">
    <link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
			integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="crossorigin="anonymous"
			/>

		<style>
		.bg-music{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.btnc{

background-color: transparent;
color: #fff;
font-size: 78px;
border: none;
transform: rotate(270deg);
/* display: block; */
margin: 0 auto;
opacity: .3;
transition: all linear .2s;
}
#sound{
 color:yellow;
	transform: rotate(270deg);
}
.btnc:hover{
    opacity: 1;
}
.fa-pause-circle-o{
    display: none;
}
		
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   display: block;
}
</style>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TextUtils.in</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>

    </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="container">
<audio id="myMusic" src="music.mp3" loop=""></audio>

						<button class="btnc" style="margin:-12px; background-color:black">
							<i class="fa fa-play-circle-o"></i>
							<i class="fa fa-pause-circle-o"></i>

						</button>
            <p id="sound" class="text-center" style="color:white;
							font-size:130%;
							font-weight:
							bold;">Sound</p>
</div>


<footer class="footer">
  <div class="container">
    <span class="text-light">&#169 2019 Textutils.in </span>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
							integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="crossorigin="anonymous"></script>
						<script>
    
    $(document).ready(function(){
        $(".btn .fa-play-circle-o").on('click',function(){
            $(this).hide();
            $(".fa-pause-circle-o").fadeIn();
            $("#myMusic")[0].play();
        });

        $(".btn .fa-pause-circle-o").on('click', function () {
            $(this).hide();
            $(".fa-play-circle-o").fadeIn();
            $("#myMusic")[0].pause();
        });
    });
    
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
