{% extends 'base.html' %}
{% block css %}

    <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   display: block;
}
#corner-btn{
  position: absolute;
  right: 0;
  top: 15px;
  padding: 4px;
}
</style>
{% endblock css %}
{% block body %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Your text has been analyzed!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="container">

<h1>Your Analyzed Text - {{ purpose }}</h1>

<div style="position:relative;" class="bg-light">
<p>
    <button id="corner-btn" class="btn btn-outline-primary" onclick="copy()">
        Copy
    </button>
  <pre id="copy-text" class="p-4"><h2>{{ analyzed_text }}</h2></pre>
</p>
</div>
</div>
{% endblock body %}


 {% block js %}
    <script>
      function copy() {
        // copied from https://stackoverflow.com/questions/36639681/how-to-copy-text-from-a-div-to-clipboard
        if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById("copy-text"));
    range.select().createTextRange();
    document.execCommand("copy");

  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById("copy-text"));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    alert('Text Copied')

  }

      }
    </script>

 {% endblock js %}
