<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Text Utils-Results </title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://codewithharry.com/static/photo.png">
    <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   display: block;
}
#corner-btn{
  position: absolute;
  right: 0;
  top: 15px;
  padding: 4px;
}
</style>
  </head>
  <body>
    <div class="mt-4 container">
      <div class="alert alert-success" role="alert">
        <strong>Success</strong>, your text has been analyzed !
      </div>
      <div class="pb-3 jumbotron" id="value">
        <h3 class="display-4" id="main">Your Analyzed Text - {{ purpose }}</h3>
        <hr class="my-4" />
        <button class="btn btn-outline-success btn-sm" onclick="myFunction()">Copy</button>
        <br>
        <textarea
          class="mt-2 form-control"
          name="text"
          style="height: 230px; background-color: transparent; border: none;"
          id="myInput"
          >{{analyzed_text}}
        </textarea>
        <a class="mt-4 btn btn-primary btn-small" href="/" role="button">Back</a>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-light">&#169 2020 webdevsandy.com </span>
      </div>
    </footer>
    <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999);
          document.execCommand("copy");
        }
    </script>
  </body>
</html>
