
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
      img{

          margin-left: 260px;

      }
        h1 {
            border: black;
            margin: inherit;
            width: max-content;
            color: darkseagreen;
            border-style: dashed;
            border-radius: 7px;
            background-color: floralwhite;
            margin: auto;

        }
         p{
            margin-left: 400px;
            font-size: x-large;

        }
    </style>

</head>

<body>
    <h1>Opps! SomeThing Went wrong</h1>
    <p>Check If u have selected or checked the checkboxes. Then Go Back or contact  the developer</p>


</body>

</html>