<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposive Our Service</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
<section class="services">
    <div class="container">
        <div class="services-title">
            <div class="title">
                <h2><span> Our </span> Services</h2>
            </div>
        </div>

        <div class="services-box">

            <div class="box">
                <div class="ser-box">
                    <div class="icon">
                        <img src="img/setting.png">
                    </div>
                     <h4>Easy To Setup</h4>
                     <p>Lorem Ipsum is simply dummy and typesetting industry.</p>
                </div>
            </div>

            <div class="box">
                <div class="ser-box">
                    <div class="icon">
                        <img src="img/speed.png">
                    </div>
                     <h4>Fast Preformance</h4>
                     <p>Lorem Ipsum is simply dummy and typesetting industry.</p>
                </div>
            </div>

            <div class="box">
                <div class="ser-box">
                    <div class="icon">
                        <img src="img/protect.png">
                    </div>
                     <h4>Privacy Protected</h4>
                     <p>Lorem Ipsum is simply dummy and typesetting industry.</p>
                </div>
            </div>


            <div class="box">
                <div class="ser-box">
                    <div class="icon">
                        <img src="img/backup.png">
                    </div>
                     <h4>Monthly Backup</h4>
                     <p>Lorem Ipsum is simply dummy and typesetting industry.</p>
                </div>
            </div>

            <div class="box">
                <div class="ser-box">
                    <div class="icon">
                        <img src="img/freessl.png">
                    </div>
                     <h4>Free SSL Certificate</h4>
                     <p>Lorem Ipsum is simply dummy and typesetting industry.</p>
                </div>
            </div>

            <div class="box">
                <div class="ser-box">
                    <div class="icon">
                        <img src="img/database.png">
                    </div>
                     <h4>Unlimited Database</h4>
                     <p>Lorem Ipsum is simply dummy and typesetting industry.</p>
                </div>
            </div>

        </div>
    </div>
</section>






</body>
</html>
